 header {
     width: 90%;
     margin: 0 auto;
 }
 
 header p {
     display: block;
     background-color: #16b954;
     color: aliceblue;
     text-align: center;
 }
 
 header ul {
     width: 100%;
     margin: 0 auto;
     list-style: none;
 }
 
 ul li {
     float: left;
     width: 400px;
     height: 400px;
     border: 1px solid black;
 }
 
 ul li:nth-child(1) {
     background-image: url(images/g.jpg);
     background-size: cover;
 }
 
 ul li:nth-child(2) {
     background-image: url(images/g2.jpg);
     background-size: cover;
 }
 
 ul li:nth-child(3) {
     background-image: url(images/g3.jpg);
     background-size: cover;
 }
 
 ul li:nth-child(4) {
     background-image: url(images/g4.jpg);
     background-size: cover;
 }
 
 ul li:nth-child(5) {
     background-image: url(images/g5.jpg);
     background-size: cover;
 }
 
 ul li:nth-child(6) {
     background-image: url(images/g6.jpg);
     background-size: cover;
 }
 
 ul li:nth-child(7) {
     background-image: url(images/g7.jpg);
     background-size: cover;
 }
 
 ul li:nth-child(8) {
     background-image: url(images/g8.jpg);
     background-size: cover;
 }
 
 ul li:nth-child(9) {
     background-image: url(images/g9.jpg);
     background-size: cover;
 }